{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'for_index/css/style.css' %}">
        <title>{{title}}</title>
    </head>
</head>
<body>

<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<img src="static ">
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
<h1> УТУ Страница индексаа   ИНДЕКСА</h1>
</body>
</html>